* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bodie {
    width: 300px;
    top: 100px;;
    left: 250px;;
    position: relative;
}
#eyes {
    width: 150px;
    top: -110px;
    left: 25px;
    position: relative;
}

#hat {
    width: 250px;
    top: -200px;
    left: -180px;
    position: relative;
}
#mouth {
    width: 150px;
    top: 20px;
    left: -380px;
    position: relative;
}

#mustache {
    width: 150px;
    top: -160px;
    left: 335px;
    position: relative;
}

#nose {
    width: 120px;
    top: -200px;
    left: 200px;
    position: relative;
}

#shoes {
    width: 300px;
    top: 9px;
    left: -20px;
    position: relative;
}