h1 {
    color: white;
    background: #191970;
    padding: 10px;
}

h2 {
    color: #191970;
    background: #aeaed4;
    padding: 10px;
    transition: font-size 500s;
}

h2:hover {
    color: pink;
    background-color: hotpink;
    font-size: 30px;
}

html {
    background: #e6e6fa;
}
